
#enviar{
  margin-top: 1em;
}

#indicacionesContacto{
  display: none;
}

@media (min-width: 360px) and (max-width: 991px) {
  /* Estilos para smartphone */

  #indicacionesContacto{
    margin-bottom: 1em;
  }
  #enviar{
    margin-top: 1em;
  }
}
