#contacto{
  background-color: aliceblue;
  padding-bottom: 5%;
}

#contacto h1{
  text-align: center;
  padding-top: 2%;
}

#contacto img{
  height: 40%;
  margin-top: 4%;
}

#enviar{
  margin-top: -6%;
}
