<app-nav></app-nav>

  <br>
  <div class="container">
    <div class="row">
      <div class="col" id="formulario">
        <div class="mb-3">
          <label class="form-label">Nombre y apellido</label>
          <div class="input-group">
            <input type="text" aria-label="First name" [(ngModel)]="nombre" class="form-control">
            <input type="text" aria-label="Last name" [(ngModel)]="apellido" class="form-control">
          </div>
        </div>
        <div class="mb-3">
          <label for="empresa" class="form-label">Empresa</label>
          <input type="email" maxlength="20" class="form-control" [(ngModel)]="empresa" id="empresa">
        </div>
        <div class="mb-3">
          <label for="correo" class="form-label">Tu correo eletrónico</label>
          <input type="email" class="form-control" id="correo" [(ngModel)]="correo" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Tu número de telefono</label>
          <input type="text" maxlength="8" class="form-control" id="telefono" [(ngModel)]="telefono">
        </div>
        <div class="mb-3">
          <label for="informacion" class="form-label">¿Qué necesitas?</label>
          <textarea class="form-control" maxlength="200" id="informacion" [(ngModel)]="contenido" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" id="enviar">
    <button (click)="send()" type="button" class="btn btn-success">Pedir cotizacion</button>
  </div>

<app-footer></app-footer>
