<div class="container-fluid" id="footer">
  <div class="row" id="headers">
    <a class="col">Developers</a>
    <a id="nuestrasRedes" class="col">Nuestras redes</a>

  </div>
  <div class="row" id="items">
    <a id="developer" href="https://www.straydog.cloud/" target="_blank" class="col">Jordan Zelaya</a>
    <div id="imagenesRedes" class="text-center col">
      <a href="https://www.instagram.com/zoetheband/?hl=en" target="_blank"><img class="img-fluid" src="./assets/instagram%20ico.png"></a>
      <a href="https://www.facebook.com/Zoeoficial/" target="_blank"><img class="img-fluid" src="./assets/fb%20ico.webp"></a>
      <a href="https://twitter.com/zoetheband?lang=en" target="_blank"><img class="img-fluid" src="./assets/twitter%20ico.png"></a>
    </div>
  </div>
</div>
