#footer{
  margin-top: 5%;
  background-color:  #0047b3;
  height: 200px;
}
#headers a{
  text-decoration: none;
  color: white;
  margin-top: 2%;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
#items a{
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 2%;
}
#items img{
  width: 2em;
}
#imagenesRedes{
  margin-top: 0.5em;
}

@media (min-width: 600px) and (max-width: 1199px) {
  /* Estilos para tablet */

  #nav-dark{
    display: none;
  }
  #footer{
    background-color: black;
  }
}

@media (min-width: 360px) and (max-width: 599px) {

  /* Estilos para smartphone */

  #footer{
    display: none;
  }
  #nav-dark{
    background-color: black;
    margin-top: 2%;
  }
  #nav-dark a{
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    z-index: 1;
  }
}
