<app-nav></app-nav>
<div class="text-center">
  <img id="members" src="./assets/Members.png">
</div>
<div class="container">
  <h1>ZOÉ - MEXICAN BAND</h1>
  <p class="descripcion">Zoé es una banda mexicana de rock alternativo formada en 1997 en la Ciudad de México. Está integrada por León Larregui en la voz principal, Sergio Acosta en la guitarra, Jesús Báez en los teclados, Ángel Mosqueda en el bajo y Rodrigo Guardiola en la batería. Han sido reconocidos por su estilo único que combina elementos de rock, electrónica y música psicodélica, así como por sus letras profundas y poéticas. </p>
  <p class="descripcion">El grupo ha lanzado siete álbumes de estudio hasta la fecha, incluyendo "Memo Rex Commander y el Corazón Atómico de la Vía Láctea", "Reptilectric" y "Aztlán", que les han valido varios premios y reconocimientos, incluyendo el Latin Grammy al Mejor Álbum de Música Alternativa en 2018. La banda ha realizado giras en México, América Latina, Estados Unidos, Europa y Asia, y es considerada una de las bandas más influyentes del rock en español.</p>

  <iframe src="https://www.youtube.com/embed/SXcFYnHSG08?start=40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
